@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hughes letting Agency</h1>
    <p class="lead"> We are the very best at finding houses from John Hughes films.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">From Home Alone to Ferris Buller we will find that fictional house for you at a ridiculous price, Guaranteed!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>
            From castles to flats and all thats in between. 
    </div>

    <div class="col-md-4">
        <h2>New Houses</h2>
        <p>No 1 - The house from Uncle Buck will soon be on the market watch out.</p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>